.input-wrapper {
}

.input-field {
  background: inherit;
  border: none;
  border-bottom: 1px solid #eee;
}
.input-wrapper label {
  margin-right: 10px;
  color: #eee;
}

input:active {
  outline: none;
  border: none !important;
  border-bottom: 1px solid #eee;
}

input:focus {
  border: none !important;
  outline: none;
  border-bottom: 1px solid #eee;
}
.input-warning {
  width: 100%;
  height: 1.5rem;
  align-items: center;
  color: rgb(170, 52, 52);
}
