//font
$header1: 5rem;
$header2: 4rem;
$header3: 3.5rem;
$header4: 3rem;
$bigfont: 2.5rem;
$normalfont: 1.6rem;
$smallfont: 1.2rem;

//colors
$btn-blue-pr: #6180b1;
$btn-blue-sec: #708ab4;
$btn-green-pr: #5fb15a;
$btn-green-sec: #478442;
$btn-yellow-pr: #d9d852;
$btn-yellow-sec: #b3b243;
